#page-top {
  margin: 0;
	padding:0 3%;
  color:  #333;
 background-color:#FFFFF0;
	font-size: 1em !important;
	font-family:monospace !important;}

.bg-dark{
	background-color:#333 !important;
}
.text-dark{
	color: #333;
}
.bgHeader{
	width: 100%;
	height: 400px;
}
.title{
	font-size: 6em;
	font-family: monospace !important;
	padding-top: 10% !important;
}
 h1, h2, h3, h4, h5, h6{
	font-family:monospace !important;
  font-weight: 500;
  line-height: 1.5;
}
.motto{
	font-size: 3em;
	letter-spacing: normal;
	line-height: 3;
	font-family: monospace !important;
}
.titleName{
	font-size: 5em;
	font-family:monospace !important;
	margin-bottom: 2%;
}
.secName{
	font-size:2em;
	font-family:monospace !important;
	margin-left: 3%;
}
hr{
	width: 50% !important;
	border: solid #333 !important;
	float: left;
	margin-bottom: 10%;
	margin-left: 3%;

}
section {
  padding:3% 0;
}

title1{
	width: 100%;
	height: auto;
}
li{
	list-style: none;
	padding: 3%;
}
.drProject{
	text-decoration:none;
	color: #333;
}
.drProject:hover{
	text-decoration: none;
	color: #333;
}
ul, menu, dir {
   
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.img-thumbnail{
	border: 2px solid  #333 !important;
	padding: 0 !important;
}

/*about*/
.me{	
	 box-shadow: 2px 2px #333;
	margin:0 10%; 
	float: right;
	border: 0 !important;
}
.bio{
	border: 2px solid #333;
	margin-top: 5%;
	margin-left: 0;
}
.lead{
	text-align: justify;
	padding:5%;
	font-size: 1.5em !important;
}
.resume{
	border-radius:10px;
	border: 2px solid #333;
	float: right;
	margin-right: 5%;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 2%;
	color: #fffff0 !important;
	background-color: #333;
}
.drProject1{
	text-decoration:none;
	color: #333;
}
.drProject1:hover{
	text-decoration: none;
	color: #333;
}
/*contact*/

#contact .form-control{
    border-radius: 10px;
    border:2px solid #333;
	background-color: #fffff0;
		
}

#contact button{
    border-radius:10px;
    border:2px solid #333;
}
.btn-default {
	background-color: #333 !important;
	color: #fffff0  !important;
	float: right;
}
/*Drawing Project*/
.drawing{
	border-bottom: 4px solid #333;
	border-left: 4px solid #333;
	margin-bottom: 5%;
}
.drTitle{
	font-size: 4em !important;
	
}
u{
	text-decoration: none;
	border-bottom: 4px solid;
	padding-bottom: 5px;
	font-size: 2em !important;
}
.drDescription{
	padding-bottom: 5%;
	padding-top: 2%;
	font-size: 2em !important;
}
.drLayout{
	margin-top: 5%;
	padding-bottom: 5%;
	border-bottom:4px solid #333;
}
.drLayout1{
	margin-top: 5%;
	border-bottom: 4px solid #333;
}
.drLayout2{
	margin-top: 5%;
	padding-bottom: 5%;
}
.structure img{
	height:400px;
	width: auto;
	margin: 0 17%;
	
}
.layoutTi{
	padding:5%;
	font-size: 2em !important;
}
.projectNav a{
	color: #fffff0 !important;
}
.projectNav .navbar-toggler{
	color: #fffff0 !important;
	    border: 1px solid #fffff0 !important;
}
/*cunyDesign*/

	.web img{
		width: 80%;
		height: 80%;
		margin:0 10%;
}
/*booklet*/
.change{
	width: 80% !important;
	height: auto;
	margin: 0 10%;
}
/*poster*/
.typo{
	width: 80% !important;
	height: auto;
	margin: 5%;
}
/*megazine*/
.mega{
	width: 80% !important;
	height: auto;
	margin: 0 10%;
}
/*snake game*/
.snake{
	font-size: 1.5em !important;
}
/*nav*/
#mainNav{
  margin-bottom: 0;
	margin-top: 0 !important;
	padding-top: 0 !important;
  text-transform: uppercase;
  border-top: 5px solid #333;

}

#mainNav .navbar-toggler {
  font-size: 1.3rem;
  padding: 11px;
  color: #333;
  border: 1px solid #333;
  font-weight: 600;
}

#mainNav .navbar-brand {
  font-weight: 800;
	margin-right: 30%;
	font-size: 1.8rem;
}

#mainNav a {
  color: #333;
	font-size: 1.3rem; 
	font-weight: 600;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: #333;
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
.projectNav{
	border-bottom: 5px solid #333;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 2px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #fffff0;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: #fffff0;
  }
  #mainNav .nav-link.active:hover {
    color:#333;
  }
	.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
		padding-left:2rem;
	}

}
	
